* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  /* margin-left: 220px;
    height: 100vh;
    background-color: #fcfcfd; */
}

/* ....................home.................... */
.home {
  width: 100%;
  margin-left: 220px;
}
.nav-line-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6px 24px 0px 24px;
  /* background-color: #d021ad; */
}
/* ..................nav-line-2............. */
.nav-line-2 {
  display: flex;
  justify-content: end;
  gap: 16px;
  padding: 6px 24px;
  /* background-color: #14ac2d; */
}
.svg-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
input[type="radio"] {
  vertical-align: middle;
  margin-right: 10px;
}
.options {
  list-style: none;
  padding: 0;
}
.options-name {
  color: var(--ui-greys-neutral-1, #3c4856);
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
}
/* ..................End of nav-line-2............. */
.home-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 16px; */
  /* box-shadow: 0px 10px 40px #aeb1b5; */
  background-color: #fcfcfd;
  border-bottom: 2px solid #dfdfdf;
  margin-bottom: 10px;
}
.refresh {
  display: flex;
}
.refresh button {
  height: 36px;
  width: 36px;
  background-color: #1d90d7;
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
nav .heading p {
  width: 40px;
  height: 34px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 170%;
  color: #3c4856;
}

.search {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  padding: 6px 16px;
  gap: 8px;
  width: 360px;
  height: 36px;
  background: #f1f2f3;
  border: 2px solid #ecedef;
  border-radius: 16px;
}

.search input {
  width: 100%;
  background-color: #f1f2f3;
  outline: none;
  border: none;
}

.img {
  display: flex;
  justify-content: center;
  /* margin-top: 120px;
    margin-bottom: 40px; */
}

.home-loading-screen {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  display: flex;
  justify-content: center;
}
.button button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 109px;
  height: 40px;
  background: #1d90d7;
  border-radius: 4px;
  color: #f9fafa;
}

