/* .....................nav.................... */

.nav {
  background-color: #3c4856;
  width: 220px;
  /* width: 20%; */
  overflow: hidden;
  position: fixed;
}
.head-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 10px;
  position: fixed;
  width: 220px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: #3c4856;
}
.headings {
  padding-top: 13.5px;
}
.headings p {
  width: 104px;
  height: 31px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.1em;
  color: #d0d6dc;
}
.headings p span {
  color: #1d90d7;
}
.home-head i {
  font-size: 20px;
}
.icon {
  width: 20px;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 8px 16px;
  gap: 10px;
  width: 100%;
  height: 43px;
  font-family: "Plus Jakarta Sans";
  border-radius: 4px;
  color: #f9fafa;
  cursor: pointer;
}
.import-btn {
  height: 40px;
  width: 180px;
  overflow: hidden;
  background-color: #1d90d7;
  border-radius: 4px;
  color: #f9fafa;
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  gap: 8px;
}
.import-btn img {
  height: 30px;
  width: 30px;
}
.import {
  margin-top: 37.5px;
}
.import h2 {
  font-family: Plus Jakarta Sans;
  font-size: 15px;
}
.pack {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  width: 100%;
  /* background-color: #fff; */
}
.pack p {
  padding-left: 5px;
}
.pack i {
  font-size: larger;
}
.hov:hover {
  background-color: #515a76;
  border-radius: 0;
  /* border-left: 4px solid #c4e0dc; */
}

.active {
  background-color: #515a76;
  border-radius: 0;
  width: 100%;
  border-left: 4px solid #c4e0dc;
}
.account {
  height: 40px;
  width: 40px;
  background-color: #f1f2f3;
  border-radius: 50px;
  padding: 2px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.boxs {
  display: flex;
  justify-content: start;
  padding: 16px;
  align-items: end;
  width: 100%;
  height: 100%;
  /* background-color: #e20d0d; */
}
.account img {
  width: 100%;
  border-radius: 50px;
}
.account p {
  width: 68px;
  height: 27px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 190%;
  color: #d0d6dc;
}
/* ................new..................... */
.line {
  width: 80%;
  height: 1px;
  background-color: #717c88;
}
